<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conexión base de datos stories</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="app">
                    <!-- <h1 class="text-center text-success">Historias cargadas desde una base de datos</h1>
                    <ul class="list-group">
                        <carga-historias v-for="historia in historias" :historia="historia" ></carga-historias>
                    </ul> -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Frase</th>
                                <th>Protagonista</th>
                                <th>Votos</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr is="carga-historias" v-for="historia in historias" :historia="historia"></tr>
                        </tbody>
                    </table>
                    <p class="lead">Esta es la lista de historias</p>
                    <h3 class="display 3 text-warning">¿Quieres añadir una nueva historia? <button class="btn btn-info" @click="nuevaHistoria">Añadir nueva historia</button>

                </div>
            </div>
        </div>
    </div>
    <template id="representa-historias">
        <!-- <li class="list-group-item">
            {{ historia.id }} - {{ historia.plot }} - {{ historia.writer }} - votos: {{ historia.upvotes }}
        </li> -->
        <tr>
            <td>{{ historia.id }}</td>
            <td>
                <!-- Si pulsas en editar se cambia historia.editing a true y podemos modificarlo -->
                <input type="text"v-if="historia.editing" v-model="historia.plot" class="form-control">
                <!-- Si no está en false muestra la historia -->
                <span v-else>{{ historia.plot }}</span>
            </td>
            <td>
                <!-- Si pulsas en editar se cambia historia.editing a true y podemos modificarlo -->
                <input type="text"v-if="historia.editing" v-model="historia.writer" class="form-control">
                <!-- Si no está en false muestra la historia -->
                <span v-else>{{ historia.writer }}</span>
            </td>
            <td>{{ historia.upvotes }}</td>
            <td>
                <div class="btn-group" v-if="!historia.editing">
                    <button class="btn btn-primary" @click="subirVotos( historia )">Subir Votos</button>
                    <button class="btn btn-secondary" @click="editarHistoria( historia )">Editar</button>
                    <button class="btn btn-danger" @click="eliminarHistoria( historia )">Eliminar historia</button>
                </div>
                <div class="btn-group" v-else>

                    <button v-if="historia.id" class="btn btn-success" @click="actualizarHistoria( historia )">Actualizar historia</button>
                    <button v-else class="btn btn-info" @click="guardarHistoria( historia )">Guardar historia</button>
                    <button class="btn btn-warning" @click="historia.editing = false">Cancelar</button>
                </div>
            </td>
        </tr>

    </template>

    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="main.js"></script>    </div>
</body>
</html>
